@font-face {
    font-family: 'Retrofunk';
    src: url('./fonts/retrofunk-font.otf') format('truetype');
}

@font-face {
    font-family: 'Helvegen';
    src: url('./fonts/helvegen-inky-font.otf') format('truetype');
}

@font-face {
    font-family: 'Baskerville';
    src: url('./fonts/baskerville-regular-font.ttf') format('truetype');
}



body {
    background-color: var(--primary-color);
    margin: 0;
    overflow-x: hidden;
    font-family:'Baskerville', sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* large tablet styling */
/* @media screen and (max-width: 1024px) {

} */

/* small tablet styling */
/* @media screen and (max-width: 910px) {    

} */

/* small tablet styling: landscape */
/* @media (orientation: landscape) and (max-width: 1024px) {

} */

/* mobile styling */
/* @media screen and (max-width: 767px) {

} */

/* large mobile styling: landscape devices*/
/* @media (orientation: landscape) and (max-width: 950px) {

} */

/* small mobile styling: landscape devices*/
/* @media (orientation: landscape) and (max-width: 719px) {

} */
