:root {
    /* Colors */
    --primary-color: #FFFDF5;
    --secondary-color: #000000;
    --tertiary-color: #F1C7C8;
    --footer-text-color: #676767;
    --translucent-color: #00000066;
}

/* large tablet styling */
/* @media screen and (max-width: 1024px) {

} */

/* small tablet styling */
/* @media screen and (max-width: 910px) {    

} */

/* small tablet styling: landscape */
/* @media (orientation: landscape) and (max-width: 1024px) {

} */

/* mobile styling */
/* @media screen and (max-width: 767px) {

} */

/* large mobile styling: landscape devices*/
/* @media (orientation: landscape) and (max-width: 950px) {

} */

/* small mobile styling: landscape devices*/
/* @media (orientation: landscape) and (max-width: 719px) {

} */