#concierge-moments-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../../../assets/home/concierge-moments-bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#concierge-moments-title {
    position: absolute;
    top: 30%;
    left: 2%;
    font-family: "Retrofunk", sans-serif;
    font-size: 4em;
    margin: 0em;
    text-shadow: 10px 3px 2px var(--tertiary-color);
}

#polaroid-track {
    position: absolute;
    top: 48%;
    display: flex;
    justify-content: center;
}

.polaroid {
    width: 14em;
    height: 17em;
    padding: 0 1.9em;
    object-fit: cover;
    object-position: 50% 0%;
}

.polaroid:last-of-type {
    padding-left: 0;
}

.polaroid-track-sections {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

/* large tablet styling */
@media screen and (max-width: 1024px) {
    #concierge-moments-title {
        top: 80%;
        left: 55%;
        font-size: 5em;
    }

    #polaroid-track {
        top: 32%;
    }
    
    .polaroid {
        width: 28em;
        height: 33em;
        padding: 0 2.9em;
    }
}

/* small tablet styling */
@media screen and (max-width: 910px) {
    #concierge-moments-title {
        left: 55%;
        font-size: 4em;
    }

    #polaroid-track {
        top: 28%;
    }
    
    .polaroid {
        width: 24em;
        height: 29em;
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    #concierge-moments-title {
        left: 45%;
        top: 85%;
        font-size: 3.5em;
    }

    #polaroid-track {
        top: 24%;
    }
    
    .polaroid {
        width: 22em;
        height: 26em;
    }
}

/* mobile styling */
@media screen and (max-width: 767px) {
    #concierge-moments-title {
        left: 0%;
        top: 90%;
        font-size: 2.2em;
        text-align: center;
        width: 100%;
    }

    #polaroid-track {
        top: 26%;
    }
    
    .polaroid {
        width: 18em;
        height: 22em;
    }
}

/* large mobile styling: landscape devices*/
@media (orientation: landscape) and (max-width: 950px) {
    #concierge-moments-title {
        left: 60%;
        top: 87%;
        font-size: 2em;
    }

    #polaroid-track {
        top: 28%;
    }
    
    .polaroid {
        width: 10em;
        height: 12em;
    }
}

/* small mobile styling: landscape devices*/
@media (orientation: landscape) and (max-width: 719px) {
    #concierge-moments-title {
        left: 25%;
        top: 85%;
        font-size: 2em;
    }

    #polaroid-track {
        top: 28%;
    }
}