/* Carousel container */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 3.5em 0em 4em;
}

.carousel-stack {
    padding: 1em 0em;
}

/* Navigation buttons */
.carousel-nav-btn {
    position: absolute;
    top: 50%;
    z-index: 1;
    color: var(--secondary-color);
}

.carousel-nav-btn.left {
    left: 2%;
}

.carousel-nav-btn.right {
    right: 2%;
}

.carousel-icon{
    font-size: 2em
}

.carousel-icon:hover{
    color: var(--translucent-color);
}

/* Card styling */
.jet-article-card {
    width: 20em;
    height: 26em;
    background-color: var(--primary-color);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    /* Image and Logo container */
.jet-article-image-container {
    position: relative;
    height: 50%;
}

.jet-article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jet-article-logo {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 4em;
}

    /* Content styling */
.jet-article-content {
    padding: 1em;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /* Title */
.jet-article-title {
    font-size: 1.2em;
    margin: 0em;
    text-align: center;
}

    /* Description */
.jet-article-description {
    text-align: center;
}

    /* Read More Link */
.jet-article-link {
    text-decoration: none;
    margin-top: 1em;
}

.jet-article-link:hover {
    color: var(--translucent-color)
}

/* Carousel Dots */
.carousel-dots-container {
    display: flex;
    justify-content: center;
    gap: 0.8em;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-dot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel-dot.active {
    opacity: 1;
    background-color: var(--secondary-color);
}

/* large tablet styling */
@media screen and (max-width: 1024px) {
    .jet-article-card {
        width: 18em;
    }

    .chronicle-logo {
        bottom: 1%;
        right: 1%;
    }
}

/* mobile styling */
@media screen and (max-width: 767px) {
    .carousel-nav-btn {
        padding: 0em;
    }

    .carousel-nav-btn.left {
        left: 0%;
    }
    
    .carousel-nav-btn.right {
        right: 0%;
    }

    .jet-article-card {
        width: 16em;
    }
    

    .jet-article-content {
        padding: 0.2em 0.7em;
    }
    

    .jet-article-title {
        font-size: 1.25em;
        margin: 0em;
    }
    

    .jet-article-description {
        font-size: 1em;
        margin: 0.5em 0em;
    }

    .jet-article-link {
        margin-top: 0em;
    }

    /* Slide Indicator */
    .carousel-page-indicator{
        position: absolute;
        top: 93%;
        left: 90%;
        transform: translate(-50%, -50%);
        color: var(--secondary-color);
        font-weight: 900;
    }
}
