#prive-intro-container p {
    color: var(--primary-color);
    margin: 0;
    padding: 0.5em 2.5em 0.5em;
    font-family: 'Retrofunk', sans-serif;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
}

#prive-intro-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}