.form-content-container {
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

#progress-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    /* background-color: blue; */
}

#progress-bar {
    background-color: var(--primary-color);
    width: 85%;
    height: 0.5em;
}

#progress-bar .MuiLinearProgress-bar { /* progress-color */
    background-color: var(--tertiary-color);
}

#progress-percentage {
    color: var(--tertiary-color);
    width: 15%;
    text-align: center;
    font-family: 'Retrofunk', 'Times New Roman', Times, serif;
    font-size: 1.5em
}

.form-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    height: 10%;
    width: 100%;
    font-size: 2em;
    font-family: 'Retrofunk', 'Times New Roman', Times, serif;
    /* background-color: purple; */
}

#form-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    /* background-color: green; */
}

.all-form-inputs {
    color: var(--primary-color);
    width: 90%;
}

/* Action btns container */
#form-navigation {
    min-height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    /* background-color: yellow; */
}

.form-btn {
    margin: 0em 2em;
}