.form-content-container {
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

#progress-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: absolute;
    top: 2%; */
    height: 10%;
}

#progress-bar {
    background-color: var(--primary-color);
    width: 85%;
    height: 0.5em;
}

#progress-bar .MuiLinearProgress-bar { /* progress-color */
    background-color: var(--tertiary-color);
}

#progress-percentage {
    color: var(--tertiary-color);
    width: 15%;
    text-align: center;
    font-family: 'Retrofunk', 'Times New Roman', Times, serif;
    font-size: 1.5em
}

#form-title{
    height: 10%;
}

#form-input-container{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-form-inputs {
    color: var(--primary-color);
    width: 90%;
}


/* Radio Input */
.radio-group-input-container{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.radio-group-input-title {
    color: var(--primary-color);
}

.radio-group-input-title.Mui-focused { /* Keep the original color when user tabs */
    color: var(--primary-color); 
}

.radio-group-input-options{ /*Labels options */
    color: var(--primary-color);
}

.radio-group-input-options .MuiRadio-root { /* Non selected option */
    color: var(--primary-color) 
}

.radio-group-input-options .Mui-checked { /* Selected option */
    color: var(--tertiary-color); 
}

.radio-group-input-options .MuiRadio-root:hover { /*Hover effect for radio buttons */
    background-color: rgba(241, 199, 200, 0.1); 
}

/* Text Input */
/* .text-input-container {

} */

#form-navigation {
    min-height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-btn {
    margin: 0em 2em;
}

/* Date Picker */
.date-picker-input label{ /* Placeholder label color */
    color: var(--primary-color);  
}

.date-picker-input .MuiInputLabel-root.Mui-focused { /* Prevent blue highlight */
    color: var(--primary-color); 
}

.date-picker-input .MuiOutlinedInput-notchedOutline { /* Border Color */
    border-color: var(--primary-color); 
}

.date-picker-input:hover .MuiOutlinedInput-notchedOutline,
.date-picker-input .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--footer-text-color);
}

.date-picker-input .MuiSvgIcon-root{ /* Calendar icon */
    color: var(--primary-color);  
}

.date-picker-input .MuiSvgIcon-root:hover,
.date-picker-input .MuiSvgIcon-root:focus {
    color: var(--footer-text-color);
}