#book-btn-services-tab {
    padding: 1em;
}

/* Removes all styles of the button default */
#book-btn-services-tab button {
    border: none;
    box-shadow: none;
    background: none;
    padding: 0em;
    line-height: 0em;
    min-height: fit-content;
}

#sidebar-x-icon{
    font-size: 4em;
}

#book-btn-services-tab h3{
    font-size: 2em;
    font-weight: 700;
}

#book-btn-services-container {
    /* background-color: blue; */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    /* padding: 1em; */
}

.book-btn-services {
    display: flex;
    flex-direction: column;
    align-items: center;
      /* background-color: blue; */

    transition: filter 0.3s ease;
}

.book-btn-services:hover {
    filter: brightness(50%);
    color: white;
}

.book-btn-services img {
    height: 12em;
    width: 14em;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%
}

.book-btn-services h4 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 1em 0em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}